<div class="flex items-center justify-center  text-center" style="height: 30rem;">
<div >
  <div class="mb-4">Click below if you Want Authenticate with facebook </div>


  <button  (click)="onButtonClick()" class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
   Facebook
  </button>

  <button  (click)="onReAuthentication()" class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
    ReAuthentication
   </button>

</div>

</div>


