<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Campaigns Insights</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <!-- <span class="hover:text-primary">Last Updated:</span>
      <span class="text-foreground">2 Minitues ago</span> -->
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button
      (click)="updateAdAccounts()"
      class="flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
      Update Clients List
    </button>
    <button
      (click)="updateInsights()"
      class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
      Update Insights
    </button>
  </div>



</div>





<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
  <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
    <h3 class="text-sm font-medium text-muted-foreground">Showing {{filteredInsightsItemsLength}} Items</h3>
    <div class="flex flex-wrap gap-2">
      <!-- <div class="flex">
        <label class="relative text-muted-foreground">
          <div class="absolute left-2.5 top-2.5">
            <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
          </div>
          <input
            name="search"
            class="py-2 pl-8 pr-2"
            placeholder="Search Ad Account"
            type="text"
            value=""
            (input)="onSearchChange($event)" />
        </label>
      </div> -->
      <!-- bg-red-500 -->

      <div class="flex flex-wrap gap-2.5">
        <select name="adAccounts" class="w-56 p-2 text-muted-foreground" (change)="onAdAccountChange($event)">
          <option value="">Select Ad Account</option>
          <option *ngFor="let account of localAdAccounts" [value]="account.id">
            {{ account.name }}
          </option>
        </select>

        <select name="adAccounts" class="w-48 p-2 text-muted-foreground" (change)="onChangeStatus($event)">
          <option value="All">Select Campaign Status</option>

          <option value="ACTIVE">Active</option>
          <option value="PAUSED">Paused</option>
        </select>

        <!-- <select name="order" class="w-28 p-2 text-muted-foreground" (change)="onOrderChange($event)">
        <option value="1">Status</option>
        <option value="1">Active</option>
        <option value="2">Inactive</option>
        <option value="2">Pending</option>
      </select> -->
      </div>
    </div>
  </div>



  <div
    class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin  scrollbar-track-transparent scrollbar-thumb-muted">
    <table
      class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
      <thead class="border border-muted/20 text-xs text-muted-foreground">
        <tr app-table-header>
          <!-- <th class="w-[50px]">
            <input  class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
          </th> -->
          <th class="min-w-[300px]">Name</th>
          <th class="min-w-[120px]">Objective</th>
          <th class="min-w-[120px]">Results</th>
          <th class="min-w-[150px]">Amount Spent (Currency)</th>

          <th class="min-w-[150px]">Planned Results</th>
          <th class="min-w-[150px]">Planned Budget</th>
          <th class="min-w-[150px]">Status</th>

          <th class="min-w-[120px]">Start Date</th>
          <th class="min-w-[120px]">End Date</th>

          <th class="min-w-[120px]">Reach</th>
          <th class="min-w-[120px]">Impressions</th>

          <th class="w-[60px]"></th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let insight of filteredInsights" nft-auctions-table-item class="hover:bg-card/50">
          <!-- <td></td> -->
          <td class="py-2">
            <div class="flex items-center gap-2.5">
              <div class="flex flex-col">
                <a class="text-muted-foreground/130 text-sm font-medium hover:text-primary">
                  {{ insight.campaign_name }}
                </a>
                <!-- <a class="text-xs font-medium text-muted-foreground/70 hover:text-primary">
                  {{ insight.adset_name }}
                </a> -->
              </div>
            </div>
          </td>

          <td>
            {{ insight.objective }}
          </td>

          <!-- (mouseenter)="onHover(insight)"
          (mouseleave)="onHover(null)" -->
          <td class=" relative border border-gray-300 px-4 py-2 group"

          >
            <!-- Display main action -->
            {{ getActionValueByObjective(insight) }}

            <!-- Tooltip for additional actions -->
            <!-- <div
            class="absolute z-50 left-2 -translate-x-1/2 -translate-y-full mt-2 bg-gray-800 text-gray-100 text-sm rounded-md shadow-md px-4 py-4 opacity-0 group-hover:opacity-100 transition-opacity"
          >
            <div *ngFor="let item of insight.actions" class="mb-1">
              {{ item.action_type }} : {{ item.value }}
            </div>
          </div> -->

          <div
          *ngIf="hoveredRow === insight"
          class="absolute top-1/2  left-full transform -translate-y-1/2 ml-0 p-2 w-auto bg-white  rounded shadow-lg"
        >


            <table class="table-auto border-collapse border border-gray-300 w-full text-center">
              <thead>
                <tr>
                  <th *ngFor="let item of insight.actions" class="border border-gray-300 px-4 py-2">
                    {{ item.action_type }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let item of insight.actions" class="border border-gray-300 px-4 py-2">
                    {{ item.value }}
                  </td>
                </tr>
              </tbody>
            </table>


        </div>

          </td>


          <td>
            {{ insight.spend | number }}
          </td>
          <td>
            planed res
            <!-- (click)="removeinsight(insight)"  -->
          </td>
          <td>
            planed budget
            <!-- (click)="removeinsight(insight)"  -->
          </td>
          <td>
            <span
              [ngClass]="{
                'bg-green-500/10 text-green-800': insight.campaign_status === 'ACTIVE',
                'bg-red-500/10 text-red-800': insight.campaign_status === 'PAUSED',
              }"
              class="rounded-[30px] px-2 py-0.5 text-xs font-medium">
              {{ insight.campaign_status }}
            </span>
          </td>

          <td>
            {{ insight.date_start | date: 'dd MMM yyyy' }}
          </td>
          <td>
            {{ insight.date_stop | date: 'dd MMM yyyy' }}
          </td>

          <td>
            {{ insight.reach | number }}
          </td>
          <td>
            {{ insight.impressions | number }}
          </td>
        </tr>

        <tr *ngIf="filteredInsights.length > 0">
          <td class=" text-center text-sm" colspan="7">
            <div class="py-6 px-6"></div>
          </td>
        </tr>



        <tr *ngIf="filteredInsights.length <= 0">
          <td class="py-4 text-center text-sm" colspan="7">No Data found</td>
        </tr>

      </tbody>
    </table>
  </div>
  <app-table-footer></app-table-footer>
</div>
